
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style:none;
    border:none;
    outline:none;
}

:root{
    --nav-bg-color:rgba(255,255,255,.1);
    --bg-color:#171f2b;
    --second-bg-color:#1f2733;
    --third-bg-color:#2d3542;
    --main-color:rgb(238, 45, 180);
    --white-color:#fff;
    --tabs-color:slategray;
}

::selection{
    background:var(--main-color);
    color:var(--bg-color);

}

::webkit-scrollbar{
    width:10px;
}

::webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius:1rem;
}
::-webkit-scrollbar-track{
    background: var(--nav-bg-color);
}


::placeholder{
    color:var(--white-color);
}
html{
    font-size:62.5%;
}

body{
    color:var(--white-color);
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
    font-size: 1.6rem;
}


/* Navbar */

.nav{
    position: fixed;
    bottom:2rem;
    left:50%;
    width:40rem;
    padding:2rem 0;
    background:var(--nav-bg-color);
    z-index:100;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    border-radius: 5rem;
    -webkit-animation:show 7s ease-in-out;
    animation:show 5s ease-in-out;

}
@keyframes show {
    0%{
        visibility:hidden;
        opacity:0;
    }
   100%{
        visibility:visible;
        opacity:1;
    }
    
}

.nav .nav-list{
    display:flex;
    justify-content:space-evenly;

}

.nav-list li{
    position:relative;
    display: flex;
    font-size:3rem;
    cursor:pointer;
    font-size: 28px;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.nav-list li:hover,.nav-list li.active{
color:var(--main-color);
}

.tooltip{
    position:absolute;
    top:-4rem;
    left:50%;
    padding:.3rem 1rem;
    background:var(--main-color);
    font-size: 1.6rem;
    color:white;
    font-weight:500;
    white-space:nowrap;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    border-radius:.4rem;
    visibility: hidden;
    opacity:0;
}

.nav-list li:hover .tooltip,
a:hover .tooltip,
.portfolio-item:hover .work-info{
    visibility: visible;
    opacity:1;
}


/* Home */

.container{
    width: 100vw;
    height: 100vh;
    perspective: 1500px;
    perspective-origin: 50%;
}

.box{
    /*wecreateaboxwith4sides*/position:relative;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transform-origin:50% 50% -50vw;
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
    transform:rotateY(0deg);
    /*thetransitionhelpstoshowthecubeeffect*/-webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-animation:rotate-cube 4s ease-in-out backwards;
    animation:rotate-cube 4s ease-in-out backwards;
}
@keyframes rotate-cube{
    0%{
        -webkit-transform:scale(0) rotateY(-360deg)    ;
        -moz-transform:scale(0) rotateY(-360deg)    ;
        -ms-transform:scale(0) rotateY(-360deg)    ;
        -o-transform:scale(0) rotateY(-360deg)    ;
        transform:scale(0) rotateY(-360deg)    ;

}
    100%{
        -webkit-transform:scale(1) rotateY(0deg)    ;
        -moz-transform:scale(1) rotateY(0deg)    ;
        -ms-transform:scale(1) rotateY(0deg)    ;
        -o-transform:scale(1) rotateY(0deg)    ;
        transform:scale(1) rotateY(0deg)    ;
}
}
.section{
    position:absolute;
    width:100%;
    height:100%;
    background:var(--bg-color);
    padding:0 10%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.section:nth-child(even){
    background:var(--second-bg-color);

}
.section.about{
    background:var(--bg-color);

    -webkit-transform:translateX(50vw) translateZ(-50vw) rotateY(90);
    -moz-transform:translateX(50vw) translateZ(-50vw) rotateY(90);
    -ms-transform:translateX(50vw) translateZ(-50vw) rotateY(90);
    -o-transform:translateX(50vw) translateZ(-50vw) rotateY(90);
    transform:translateX(50vw) translateZ(-50vw) rotateY(90deg);

}

.section.resume{
    background:var(--bg-color);
    -webkit-transform:translateZ(-100vw) rotateY(-180deg);
    -moz-transform:translateZ(-100vw) rotateY(-180deg);
    -ms-transform:translateZ(-100vw) rotateY(-180deg);
    -o-transform:translateZ(-100vw) rotateY(-180deg);
    transform:translateZ(-100vw) rotateY(-180deg);
    transform-origin: 50%;
}
.section.portfolio{
    background:var(--bg-color);
    transform-origin: 50%;
    -webkit-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
    -moz-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
    -ms-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
    -o-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
    transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);

}
.section.contact{
    visibility:hidden;
}

/* for this to be visible when clicked we change the state when it has an active cless */
.section.contact.active{
    visibility:visible;
    transition-delay:.5s;
}

.section.contact.action-contact{
    transition-delay:1.7s;
}

.section.contact.action-contact.active{
    transition-delay:0s;
}

.home,
.about{
    display:flex;
    align-items:center;
    gap:5rem;
}

.home-info h1{
    font-size:5.5rem;
    color:var(--main-color);
    line-height:1;
}

.home-info h3{
    font-size:3rem;
}

.desc{
   margin: 1rem 0 2rem; 
}
.desc.typed{
    height: 50px;
    letter-spacing: 1px;
   
}

.home-info .btn-home{
    display:flex;
    align-items:center;
}

.btn{
    display:inline-flex;
    padding:1.2rem 3rem;
    background: var(--main-color);
    box-shadow:0 0 1rem var(--main-color);
    font-size:1.6rem;
    color:white;
    font-weight:600;
    transition:.3s;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    border-radius: 5rem;

}

.btn:hover{
    box-shadow:none;

}

.home-info .btn-home .socials{
    margin-left:2rem;
}
.home-info .btn-home .socials a{
    position: relative;
    display: inline-flex;
    padding:.8rem;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;

}

.home-info .btn-home .socials a:hover{
    color:var(--main-color)
}

.img-box{
    position: relative;
    width: 28vw;
    height:28vw;
    background: linear-gradient(var(--bg-color,var(--main-color)));
    border-radius: 50%;
    border:.5rem solid var(--main-color);
    box-shadow:0 0 2rem var(--main-color);
    display:flex;
    justify-content: center;
    overflow: hidden;
    -webkit-animation: float 3s ease-in-out  infinite;
    animation: float 3s ease-in-out  infinite;
}
@keyframes float{
    0%{
        -webkit-transform:translateY(0)    ;
        -moz-transform:translateY(0)    ;
        -ms-transform:translateY(0)    ;
        -o-transform:translateY(0)    ;
        transform:translateY(0)    ;

}
    50%{
        -webkit-transform:translateY(-20px)    ;
        -moz-transform:translateY(-20px)    ;
        -ms-transform:translateY(-20px)    ;
        -o-transform:translateY(-20px)    ;
        transform:translateY(-20px)    ;
}
    100%{
        -webkit-transform:translateY(0)    ;
        -moz-transform:translateY(0)    ;
        -ms-transform:translateY(0)    ;
        -o-transform:translateY(0)    ;
        transform:translateY(0)    ;
}
}
.img-box.home-img:hover{
    box-shadow:0 0 8rem var(--main-color);

}

.img-box img{
    position: absolute;
    display: block;
    /* top:3rem; */
    width:100%;
    object-fit:cover;
}

/* about */

.img-box.about-img{
    background:transparent;
    box-shadow:0 0 2rem var(--main-color),inset 0 0 1rem var(--main-color);
    -webkit-animation: none;
    animation: none;

}

.img-box.about-img img{
    z-index:-1;
}

.title{
    font-size: 4rem;
    text-align:center;
}

.about-info .title{
    text-align: left;
}

.about-info h3{
    font-size:2.5rem;
    color:var(--main-color);
    margin-top:-1rem;
}

.about-info .btn{
    margin-top: 40px;
    box-shadow:none;
    -webkit-animation: float 3s ease-in-out  infinite;
    animation: float 3s ease-in-out  infinite;

}

/* resume */
.resume,
.portfolio{
    padding-top: 2rem;
    padding-bottom: 28rem;
}
.tab-box{
    display: flex;
    width:100%;
    height:5rem;
    margin-top:1rem;
    margin-bottom:2rem;
}
.tab-list{
    display:flex;
    align-items:center;
    width:100%;
    border-bottom:.3rem solid var(--tabs-color);
    cursor:pointer;
    color:var(--tabs-color);
    text-transform: uppercase;
}

.tab-list.resume-list.active,
.tab-list.portfolio-list.active
{
    border-color:var(--main-color);
    color:var(--main-color)
}

.resume-list:nth-child(2){
    justify-content:center;
}
.resume-list:nth-child(3){
    justify-content:flex-end;
}

.tab-wrapper{
    position:relative;
    width:100%;
    height:100%;
}

.tab-grid{
    position: absolute;
    width: 100%;
    height:100%;
    visibility: hidden;
    opacity: 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr));
    gap:2rem;
    overflow-y:auto;
    overflow-x: hidden;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);

}

.tab-grid.resume-box.active,
.tab-grid.portfolio-box.active{
    visibility:visible;
    opacity:1;
    -webkit-transform:scale;
    -moz-transform:scale;
    -ms-transform:scale;
    -o-transform:scale;
    transform:scale(1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}

.tab-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:var(--third-bg-color);
    border-radius:.8rem;
    padding:2rem;
}

.tab-item h4{
    font-size: 1.6rem;
}
.resume-box.skills{
    grid-template-columns:repeat(auto-fit,minmax(16rem,1fr))
}
.resume-box.skills .resume-item{
    align-items: center;
}

/* Portfolio */

.portfolio-list:nth-child(2){
    justify-content:flex-end;
}

.portfolio-box.work .portfolio-item{
    position:relative;
}

.portfolio-item .work-img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-border-radius:.8rem;
    -moz-border-radius:.8rem;
    -ms-border-radius:.8rem;
    -o-border-radius:.8rem;
    border-radius:.8rem;
    overflow:hidden;
}

.portfolio-item .work-img img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.portfolio-box.work .portfolio-item::before{
 content: '';
 position:absolute;
 left:0;
 top:0;
 width:100%;
 height:100%;
 background:var(--third-bg-color);
 -webkit-border-radius:.8rem   ;
 -moz-border-radius:.8rem   ;
 -ms-border-radius:.8rem   ;
 -o-border-radius:.8rem   ;
 border-radius:.8rem   ;
 z-index:1;
 opacity:0;
 -webkit-transition:.3s ease;
 -moz-transition:.3s ease;
 -ms-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease;
 
}
.portfolio-box.work .portfolio-item:hover::before{
    opacity:.9;
}

.portfolio-item:hover .work-img img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

}
.portfolio-item .work-info{
 z-index:1;
 text-align: center;
 visibility: hidden;
 opacity:0;
 -webkit-transition:.3s ease;
 -moz-transition:.3s ease;
 -ms-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease;

}

.portfolio-item .work-info h4{
    color: var(--main-color);
}

.portfolio-item .work-info .tech-stack{
    font-weight:700;
    color:var(--main-color);
    
    letter-spacing: 2px;
    border-radius:.4rem;
    border:1px dotted white;
    text-align: center;
    padding:.8rem;
}

.portfolio-item .portfolio-icon {
    position:relative;
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
   

}
.portfolio-item .portfolio-icon a{
    padding:1rem;
    color:white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
/* service */

.portfolio-item .service-icon{
    color: var(--main-color);
    width: 100%;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.portfolio-item:hover{
    box-shadow: 0px 1px 1px 1px var(--main-color);
}

.portfolio-item p{
    margin-top: 10px;
    padding: 8px 20px;
}

.portfolio-item h3{
    font-size: 2rem;
    padding: 8px 20px;
}

.portfolio-item .price-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0000001e;
    padding: 8px 20px;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    border-radius: .4rem;

}
.portfolio-item small{
    font-size: 1rem;
}
/* Contact */

.contact-wrapper{
    display:flex;
    justify-content:center;
    height:100%;
}

.contact-form{
   max-width: 700px;
   margin:20px auto;
   padding:8px 20px;
   background-color: #2d3542;
   border: 1px solid slategray;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
   -webkit-border-radius: .8rem;
   -moz-border-radius: .8rem;
   -ms-border-radius: .8rem;
   -o-border-radius: .8rem;
   border-radius: .8rem;
   max-height: fit-content;

}

.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.form-group input, .form-group textarea{
    width:100%;
    padding:10px;
    border:1px solid slategray;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem;

}
.form-group input::placeholder, .form-group textarea::placeholder{
    color:rgba(0, 0, 0, 0.404);
    letter-spacing: 2px;
}
.submit-container button{
    width: 100%;
    padding:8px 10px;
    -webkit-border-radius:.8rem ;
    -moz-border-radius:.8rem ;
    -ms-border-radius:.8rem ;
    -o-border-radius:.8rem ;
    border-radius:.8rem ;
    color:white;
    background-color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.submit-container button:hover{
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
    
}

/* RESPONSIVENESS */


@media screen and (max-width:1200px) {
    html{
        font-size:55%;
    }
    
}


@media screen and (max-width:992px) {
    
    .section{
        padding:0 4%;
    }
    .resume,
    .portfolio{
        padding-top:1.5rem;
        padding-bottom: 27rem;
    }

    .contact{
        padding-top:1.5rem;
        padding-bottom: 18rem;
    }
    
}

@media screen and (max-width:768px){
    html{
        font-size:50%;
    }
    .nav{
        bottom:0;
    }

    .home,
    .about{
        flex-direction:column-reverse;
        justify-content:center;
        gap:2rem;
        padding-bottom:6rem;
    }
    .about{
        flex-direction:column;
    }

    .img-box{
        width:35rem;
        height:35rem;
    }

    .resume,
    .portfolio{

        padding-bottom:25rem;
    }
    .contact{
        padding-bottom: 16rem;
    }
}

@media screen and (max-width:600px){
    .resume,.portfolio{
        padding-top: 1rem;
        padding-bottom: 22rem;
    }

    .tab-box{
        margin-top:0;
    }
    .contact{
       padding-top: 1rem; 
    }
}

@media screen and (max-width:450px){
    .nav{
        width:100%;
        border-radius:0;
    }
    .home-info,
    .about-info{
       text-align:center; 
    }

    .home-info h1{
        font-size:5rem;
    }

    .home-info .btn-home{
        flex-direction:column-reverse;
    }

    .home-info .btn-home .socials{
        margin-left: 0;
        margin-bottom:2rem;
    }

    .img-box{
        width:30rem;
        height:30rem;

    }

    .about-info .title{
        text-align:center;
    }

}

@media screen  and (max-width:350px){
    .img-box{
        width:25rem;
        height:25rem;
    }
    .tab-list h3{
        font-size: 2.2rem;
    }
}